{% extends 'base.html' %}

{% block title %}Configuration Management{% endblock %}

{% block content %}

<div class="container mt-4">
    <table id="projectsTable" class="display">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Last Updated</th>
                <th>DL</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td {% if project.updated %}class="table-warning" {% endif %}>{{ project.name }}</td>
                <td {% if project.updated %}class="table-warning" {% endif %}>{{ project.last_updated }}</td>
                <td>
                    <button class="btn btn-success download-btn" data-project-name="{{ project.name }}">↓</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Last update check: {{ last_checked }}</p>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTable.ext.type.order['date-custom-pre'] = function (d) {
            if (d === 'Not available') {
                return -Infinity;
            }
            return new Date(d).getTime();
        };

        $('#projectsTable').DataTable({
            stateSave: true,
            stateDuration: -1,
            columnDefs: [
                { type: 'date-custom', targets: 1 },
                { width: "80%", targets: 0 },
                { width: "18%", targets: 1 },
                { width: "2%", targets: 2 }
            ]
        });

        $('#projectsTable').on('click', '.download-btn', function () {
            const projectName = $(this).data('project-name');
            $.post('/download-source', { project_name: projectName }, function (response) {
                alert(response.message);
                if (response.status === 'success') {
                    location.reload();
                }
            }).fail(function () {
                alert('Failed to send download request.');
            });
        });
    });
</script>

{% endblock %}