{% extends 'base.html' %}

{% block title %}Configuration Management{% endblock %}

{% block content %}

<div class="container mt-4">
    <table id="projectsTable" class="display">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td {% if project.updated %}class="table-warning" {% endif %}>{{ project.name }}</td>
                <td {% if project.updated %}class="table-warning" {% endif %}>{{ project.last_updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Last update check: {{ last_checked }}</p>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTable.ext.type.order['date-custom-pre'] = function (d) {
            if (d === 'Not available') {
                return -Infinity;
            }
            return new Date(d).getTime();
        };

        $('#projectsTable').DataTable({
            stateSave: true,
            stateDuration: -1,
            columnDefs: [
                { type: 'date-custom', targets: 1 },
                { width: "70%", targets: 0 },
                { width: "30%", targets: 1 }
            ]
        });
    });
</script>
{% endblock %}